.container {
  border-radius: 8px;
  border: #696969 3px solid;

  padding: 10px;

  position: relative;

  width: 85%;
  height: 120px;

  color: #e7e5e5;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item-text {
  
}

.title {
  color: #1e1e1e;
}

.price {
  color: #696969;
}

.icons {
  font-size: 40px;
  color: #3d3c3c;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.delete-icon {
  font-size: 30px;
}
