.add-button {
  // Positioning
  position: fixed;
  bottom: 8%;
  right: 11%;

  // Size
  height: 70px;
  width: 70px;

  // Color
  background-color: #707070;
  border-radius: 50%;
  border: none;

  display: inline-block;
}

.add-button_icon {
  color: white;
  font-size: 35px;
}

.back-button {
  background-color: white;
  border: none;

  display: inline-block;
}

.back-button_icon {
  color: black;
  font-size: 35px;
}

@media screen and (min-width: 641px) {
  .add-button {
    // Positioning
    bottom: 8%;
    right: 10%;

    // Size
    height: 70px;
    width: 70px;
  }
}

@media screen and (min-width: 1008px) {
  .add-button {
    // Positioning
    bottom: 8%;
    right: 25%;

    // Size
    height: 70px;
    width: 70px;
  }
}
