#home_container {
  // Size
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  // Flex
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#header_container {
  // Size
  width: 85%;
  margin: 10px 20px;

  // Flex
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: black;
}

.header_profile_icon {
  color: black;

  // Controls icon size
  font-size: 40px;
}

@media screen and (min-width: 640px) {
  #home_container {
    // Size
    width: 60%;
    margin-left: auto;
    margin-right: auto;

    // Flex
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #header_container {
    // Size
    margin: 10px 20px;

    // Flex
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header_title {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: black;
  }

  .header_profile_icon {
    color: black;

    // Controls icon size
    font-size: 40px;
  }
}

@media screen and (min-width: 1008px) {
  #home_container {
    // Size
    width: 60%;

    // Flex
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #header_container {
    // Size
    margin: 10px 20px;

    // Flex
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header_title {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: black;
  }

  .header_profile_icon {
    color: black;

    // Controls icon size
    font-size: 40px;
  }
}
