#restaurant-list_container {
  // Size
  width: 90%;
  padding: 0;
}

.restaurant-list_list {
  // Remove bullet in front of <li>
  list-style-type: none;

  padding: 2%;

  // Grid
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 12px;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
}

.restaurant-list_card {
  background: #009432;
  border-radius: 8px;

  position: relative;

  padding-top: 100%;
  width: 100%;
  height: auto;

  color: white;

  // Size
  // height: 130px;
  // width: 130px;

  // margin: 13px;
}

@media screen and (min-width: 641px) {
  .restaurant-list_list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
  }
}

@media screen and (min-width: 1008px) {
  .restaurant-list_list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}
