.restaurant-list-card {
  // Border
  border: 3px red solid;
  border-radius: 8px;

  // Size
  height: 130px;
  width: auto;

  margin: 13px;
}

@media screen and (min-width: 640px) {
  .restaurant-list-card {
    height: 135px;
    margin: 16px;
  }
}

@media screen and (min-width: 1008px) {
  .restaurant-list-card {
    height: 160px;
    margin: 15px;
  }
}
