.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.search-bar {
  position: relative;

  width: 85%;
}

.search-bar_input {
  width: 85%;
  height: 23px;

  border-radius: 35px;
  border: none;
}

.search-bar_search-icon {
  font-size: 20px;

  // Placement of icon inside form
  position: absolute;
  right: 16%;
  top: 2px;
}

.search-bar_filter {
  font-size: 20px;

  padding-left: 7%;
}

@media screen and (min-width: 640px) {
  .search-bar_input {
    width: 85%;
  }
}

@media screen and (min-width: 1008px) {
  .search-bar_input {
    width: 91%;
  }

  .search-bar_search-icon {
    right: 10%;
  }

  .search-bar_filter {
    font-size: 20px;

    padding-left: 3%;
  }
}
