.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  text-align: start;

}

.name-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.name-input {
  width: 100%;
}

.location-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.phone-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.emotion-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.emotion-dropdown {
  width: 70%;
}

.recommend-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.recommend-dropdown { 
  width: 70%;
}
