.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header {
  margin: 0;
}

.cancel-button {
  border: none;
  background: white;

  font-size: 25px;
  margin-top: -0.14285714em;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  text-align: start;

  padding: 0 1rem;
}

.name-container {
  width: 100%;
  margin: 10px 0;

  display: flex;
  flex-direction: column;
}

.name-input {
  width: 100%;
  border-radius: 8px;
  border: #696969 2px solid;
}

.input-container {
  width: 45%;
  margin: 10px 0;

  display: flex;
  flex-direction: column;
}

.input {
  border-radius: 8px;
  border: #696969 2px solid;
}

.secondary-container {
  width: 100%;
  margin: 10px 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.label {
  margin-bottom: 10px;
}

.dropdown-container {
  width: 45%;

  display: flex;
  flex-direction: column;
}

.dropdown {
  width: 100%;
  background: white;

  border-radius: 8px;
  border: #696969 2px solid;
}

.button-container { 
  margin-top: 20px;
}