.container {
  // Center element
  margin: 0 auto;
  width: 60%;
  height: auto;

  font-family: "Poppins", sans-serif;
  color: black;
}

.profile-title {
  font-family: "Poppins", sans-serif;
  color: black;

  font-size: 30px;

  border: none;
}

.profile-title:focus {
  outline: none;
}

.item-list {
  // Remove bullet in front of <li>
  list-style-type: none;

  width: 100%;
  padding: 0;
}