
.container {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: left;

  margin-bottom: 30px;
}

.restaurant-description {
  // Centering icons with inputs
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 12px 0;
}

.text {
  margin: 0;
  padding: 0 10px;
  font-size: 18px;
  border: none;
}

.icon {
  min-width: 40px;
  height: 40px;

  text-align: center;

  font-size: 40px;
}