
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: center;
  justify-items: left;
}

.restaurant-description {
  // Centering icons with inputs
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.location-input {
  margin: 8px;
  font-size: 14px;
  border: none;
  background: rgba(34, 36, 38, 0.35);
}

.location-icon {
  font-size: 30px;
}

.phone-input {
  margin: 8px;
  font-size: 14px;
  border: none;
  background: rgba(34, 36, 38, 0.35);
}

.phone-icon {
  font-size: 30px;
}

.emotion-dropdown {
  margin: 8px;
  font-size: 14px;

  border: none;
  background: rgba(34, 36, 38, 0.35);
}

.emotion-icon {
  font-size: 30px;
}

.recommend-dropdown {
  margin: 8px;
  font-size: 14px;

  border: none;
  background: rgba(34, 36, 38, 0.35);
}

.recommend-icon {
  font-size: 30px;
}
