.container {
  // Center element
  margin: 30px auto;
  width: 58%;
  height: auto;

  font-family: "Poppins", sans-serif;
  color: #1e1e1e;
}

.profile-container {
  width: 90%;
  padding: 0;

  // Example of messing with margins for content containers vs. layout containers. For content containers, use either 0 or auto for horizontal margins
  margin: 30px auto;
}

.title-container {
  width: 93%;
  margin: 20px 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-text {
  margin: 0;

  color: #d63031;

  font-weight: 700;
  font-size: 45px;

  border: none;

  width: auto;
}

.edit-button {
  background: white;

  padding: 15px;
  font-size: 25px;
  border: none;
}

.edit-button_icon {
  color: #1e1e1e;
}

.delete-button {
  background: white;

  font-size: 35px;
  border: none;
}

.delete-button_icon {
  color: #1e1e1e;
}
