
.container {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: left;

  margin-bottom: 30px;
}

.restaurant-description {
  // Centering icons with inputs
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 12px 0;
}

.text {
  margin: 0;
  padding-left: 10px;
  font-size: 18px;
  border: none;
}

.location-icon {
  font-size: 40px;
  margin-left: 3px;
}

.phone-icon {
  font-size: 40px;
}

.emotion-icon {
  font-size: 40px;
}

.recommend-icon {
  font-size: 40px;
}
